#longer {
    width: 460px;
}

#backUp {
    margin-right: 35px;
}

#colorMe {
    background-color: black;
}

.navbar-custom {
    background-color: black;
}

#noLink {
    text-decoration: none !important;
    color: white; 
}

#noLink:hover {
    color: black;
}

#noLink:active {
    color: black;
}

.navbar {
    margin-bottom: 0px !important;
}

#pushDown {
    margin-top: 18px;
}

#unLinkMe {
    text-decoration: none !important;
    color: black;
}

.trigger {
  overflow: hidden;
}
.trigger input[type='checkbox'] {
  display: none;
}
.trigger input[type='checkbox'] + .like:before, .trigger input[type='checkbox'] + .like:after {
  background: red;
  border-radius: 12px 12px 0 0;
  content: '';
  height: 40px;
/*  position: absolute;
  left: 24px;
  top: 20px;*/
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 24px;
}
.trigger input[type='checkbox'] + .like:after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}
.trigger input[type='checkbox']:checked + .like:before, .trigger input[type='checkbox']:checked + .like:after {
  background: #06723e;
  border-radius: 6px 6px 0 0;
  width: 12px;
}
.trigger input[type='checkbox']:checked + .like:before {
  height: 20px;
  left: 32px;
  top: 40px;
}
.trigger input[type='checkbox']:checked + .like:after {
  left: 20px;
  top: 20px;
}

input[type='checkbox'] ~ .text {
  color: #fff;
  font-family: 'Gloria Hallelujah';
  font-size: 24px;
/*  position: absolute;
  left: 58px;
  top: 14px;*/
  opacity: 1;
}

input[type='checkbox']:checked ~ .text {
  opacity: 0;
}
