body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper.toggled {
    padding-left: 400px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 350px;
    width: 0;
    height: 100%;
    margin-left: -350px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: black;
    padding-bottom: 10px;
}

#sidebarFixTop {
    margin-top: 45px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 350px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
/*    padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -400px;
}

#left_rightNoPad {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

#faveBox {
    width: 100%;
    height: 100px;
    border: 2px groove gray;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 2px;
    display: inline-block;
}
    
    #textWrapFix {
        width: 220px;
        height: 80px;
        margin-top: 1px;
        margin-bottom: 1px;
        display: inline-block;
        vertical-align: top;
    }
    
    #rightBoxContent {
        display: inline-block;
        float: right;
        margin-top: 5px;
    }

        #unFavorite {
            display: inline-block;
            height: 45px;
            text-align: center;
            padding-top: 5px;
            margin-right: 10px;
        }

    #textFixUp {
        margin-left: 10px;
        margin-top: 15px;
        display: inline-block;
    }

/*== 70 and Below ==*/
    .scoreBoxRed {
        display: inline-block;
        height: 100%;
        width: 75px;
        background-color: red;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        padding-top: 25px;
        margin-right: 15px;
    }

/*== 71 to 85 ==*/
    .scoreBoxOrange {
        display: inline-block;
        height: 100%;
        width: 75px;
        background-color: orange;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        padding-top: 25px;
        margin-right: 15px;
    }

/*== 86 to 90 ==*/
    .scoreBoxYellow {
        display: inline-block;
        height: 100%;
        width: 75px;
        background-color: yellow;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        padding-top: 25px;
        margin-right: 15px;
    }

/*== 90 and Above ==*/
    .scoreBoxGreen {
        display: inline-block;
        height: 100%;
        width: 75px;
        background-color: green;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        padding-top: 25px;
        margin-right: 15px;
    }

/*.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}*/

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
    margin-left: 15px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 350px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 355px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
/*        padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
